<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref='/home'></ion-back-button>
    </ion-buttons>
    <ion-title>product Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [pager]="true" *ngIf="!isLoading">
		<ion-slide>
			<ion-img class="image"
               [src]=" 'data:image/png;base64,' + product.image"
               *ngIf="product.image">
      </ion-img>
		</ion-slide>
		<ion-slide>
			<h1>Slide 2</h1>
		</ion-slide>
		<ion-slide>
			<h1>Slide x</h1>
		</ion-slide>
    
	</ion-slides>
  <ion-item *ngIf="!isLoading">
    <!-- <ion-avatar slot="start">
      <img src="./avatar-finn.png">
    </ion-avatar> -->
    <ion-label>
      <h2>{{ product.title }}</h2>
      <h3>{{ product.price | currency}}</h3>
      <p>{{ product.description }}</p>
      <ion-img class="image"
               [src]=" 'data:image/png;base64,' + product.image"
               *ngIf="product.image">
      </ion-img>
    </ion-label>
  </ion-item>
  <ion-button>chat com vendedor</ion-button>
</ion-content>
